In [1]:
# Import Libraries

import pandas as pd
import numpy as np

In [2]:
# Import Data

data = pd.read_csv('Reviews.csv')

In [3]:
# drop insignificant column
data.drop('Unnamed: 0',axis=1,inplace=True)

# Rename columns
data.columns = ['Reviews','Ratings']

In [4]:
data.head()

                                             Reviews  Ratings
0  Original review: June 26, 2020I use Amazon.com...      4.0
1  Original review: Feb. 16, 2020With Amazon you ...      5.0
2  Original review: Feb. 12, 2020I am very happy ...      5.0
3  Original review: Feb. 9, 2020I absolutely love...      5.0
4  Original review: Feb. 7, 2020We have shopped A...      5.0

In [5]:
# Shape of data
print('Rows: ', data.shape[0])
print('Columns: ', data.shape[1])

Rows:  7021
Columns:  2

In [6]:
# maximum length of review
print('maximum length: ',len(max(data['Reviews'])))
print('Review of maximum length: ',max(data['Reviews']))

maximum length:  809
Review of maximum length:  Resolution response: Sept. 4, 2012They finally replied and removed all malicious orders and recovered my ID.Original review: Sept. 3, 2012On Saturday, 9/1/2012, around 8AM, my Amazon.com account was hacked and my email changed. I called them around 1PM and told them this, that they needed to close my account and cancel any orders. They told me that they will forward the request to another department that would take care of it and call me back. The next day, I called back and nothing was done. On top of that, my orders were shipped and my American Express has multiple pending charges. Once again, they said they will forward my request and get back to me. Day 3, 9/3/2012, I called back and same story. Nothing was done, request forwarded to another department, rinse and repeat. Please help! Thank you.

In [7]:
# Unique value counts

data['Ratings'].value_counts()

1.0    4083
5.0    1584
2.0     398
4.0     383
3.0     173
Name: Ratings, dtype: int64

In [8]:
# Delete Original review

import re


#manipulating values using lambda function
data['Reviews_1'] = data['Reviews'].apply(lambda x: x.replace('Original review:',''))

In [9]:
data['Reviews_1']=data['Reviews_1'].str[9:]

In [10]:
data['Reviews_1']

0        2020I use Amazon.com often, and 99% of the ti...
1        2020With Amazon you can leisurely shop in the...
2        2020I am very happy with all my purchases sin...
3       2020I absolutely love Amazon. Their selections...
4       2020We have shopped Amazon for years and alway...
                              ...
7016    2002This holiday season I made a very special ...
7017    2002On the 5th of December I ordered several i...
7018     2001On the 13th of December I placed an order...
7019     2001In attempting to make a purchase for a Ch...
7020     2001I ordered from Amazon.com/Toysrus.com on ...
Name: Reviews_1, Length: 7021, dtype: object

In [11]:
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2011','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2012','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2013','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2014','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2015','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2016','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2017','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2018','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2019','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2020','',1))
data['Reviews_1'] = data['Reviews_1'].apply(lambda x: x.replace('2021','',1))

In [12]:
# Extracting data which has ratings along with review

data = data.iloc[0:6621,:]
data.head()

,Reviews,Ratings,Reviews_1
0,"Original review: June 26, 2020I use Amazon.com...",4.0,"I use Amazon.com often, and 99% of the time, ..."
1,"Original review: Feb. 16, 2020With Amazon you ...",5.0,With Amazon you can leisurely shop in the com...
2,"Original review: Feb. 12, 2020I am very happy ...",5.0,I am very happy with all my purchases since I...
3,"Original review: Feb. 9, 2020I absolutely love...",5.0,"I absolutely love Amazon. Their selections, pr..."
4,"Original review: Feb. 7, 2020We have shopped A...",5.0,We have shopped Amazon for years and always fi...

In [13]:
# Dropping old Reviews column
data.drop('Reviews',axis=1,inplace=True)

In [15]:
# labelling ratings

# Ratings to label
def tenure_lab(data) :
  if data["Ratings"] <= 3 :
        return "Bad"
  elif (data["Ratings"] >= 4) :
        return "Good"


    
data["Ratings"] = data.apply(lambda data:tenure_lab(data), axis = 1)

In [16]:
data.head()

  Ratings                                          Reviews_1
0    Good   I use Amazon.com often, and 99% of the time, ...
1    Good   With Amazon you can leisurely shop in the com...
2    Good   I am very happy with all my purchases since I...
3    Good  I absolutely love Amazon. Their selections, pr...
4    Good  We have shopped Amazon for years and always fi...

In [17]:
data.columns = ['Ratings','Reviews']

In [18]:
data.to_csv('Amazon_Customer_Reviews.csv')